*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid{
    height: 100vh;
    background-color: #24353f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginform{

    box-shadow: -5px 2px 54px -9px rgba(0,0,0,1);
    background-color: #24353f;   
}

